/**
 * Homecom.css
 * Define los estilos para la home mercadolibre.com
 * @namespace ml
 */

/**
 * Reset
 * @based on: Eric Meyer
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, em, img, ins, q, s,
small, strong, sub, sup,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas,
datalist, details, dialog, figure, footer,
header, mark, menu, meter, nav, output,
progress, section, time, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

ol, ul, menu {
    list-style: none;
}

/**
 * Base
 */

/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html,
body {
    height: 100%;
}
html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

body {
    font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
    padding: 10px; /* Prevent layout "sticking" to the edge of the browser */
    background-color: #FFF;
    color: #333;
    margin: 0 auto;
    min-width: 200px;
}


/**
 * Home styles
 */
.ml {
    background-color: #FFE600;
    font-size: 18px;
}
.ml h2 {
    display: none;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
.ml .ml-logo {
    background: url('../img/ml-logo-small.png?v=2.0') no-repeat center center;
    height: 107px;
    text-indent: -9999px;
    text-align: center;
    margin-bottom: 25px;
}
.ml .ml-site-list {
    border: 1px solid #DFE2F8;
    border-radius: 4px;
}
.ml .ml-site-link {
    background-color: #FFFFFF;
    border-bottom: 1px dotted #CECECE;
    display: block;
    padding: 15px 18px 15px 55px;
    position: relative;
    text-decoration: none;
}
.ml .ml-site-list li:first-child .ml-site-link {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.ml .ml-site-list li:last-child .ml-site-link {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.ml .ml-site-link:hover,
.ml .ml-site-link:focus {
    background-color: #EDEDED;
}
.ml .ml-site-link:active {
    color: inherit;
}

/**
 * Link icon - chevron right
 */
.ml .ml-site-link:after {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAMAAAAYoR5yAAAAP1BMVEVMaXGZmZmdnZ2+vr7////j4+OZmZmdnZ3///+lpaW8vLykpKStra3///+ioqLa2tq1tbWZmZn///////+ZmZkIbklyAAAAFHRSTlMA0PkZH7eg+psPSenHpeOE3TAph3/vPycAAABJSURBVHjabc1LEoAgDAPQqKii4rf3PyukHbqBrN4ikwCvDBGasEr1VkiTszuYF7QWd3poMLc39rHo7OjSXeqY7Fhlx1X40h9NGcLwBQbnAEeHAAAAAElFTkSuQmCC') no-repeat 0 0 transparent;
    content: '';
    float: right;
    height: 16px;
    width: 10px;
    margin-top: 2px;
}

/**
 * Flags positions
 */
.ml .ml-site-link:before {
    background: url('../img/flags.png?v=2.0') no-repeat 0 0 transparent;
    content: '';
    display: block;
    height: 20px;
    width: 28px;
    position: absolute;
    top: 16px;
    left: 15px;
}
.ml .ml-site-mlb :before {
    background-position: 0 -20px;
}
.ml .ml-site-mco :before {
    background-position: 0 -40px;
}
.ml .ml-site-mcr :before {
    background-position: 0 -60px;
}
.ml .ml-site-mlc :before {
    background-position: 0 -80px;
}
.ml .ml-site-mrd :before {
    background-position: 0 -100px;
}
.ml .ml-site-mec :before {
    background-position: 0 -120px;
}
.ml .ml-site-mlm :before {
    background-position: 0 -140px;
}
.ml .ml-site-mpa :before {
    background-position: 0 -160px;
}
.ml .ml-site-mpe :before {
    background-position: 0 -180px;
}
.ml .ml-site-mpt :before {
    background-position: 0 -200px;
}
.ml .ml-site-mlu :before {
    background-position: 0 -220px;
}
.ml .ml-site-mlv :before {
    background-position: 0 -240px;
}


@media screen and (min-width: 1024px) {
    .ml {
        display: table;
    }
    .ml header,
    .ml nav {
        display: table-cell;
        vertical-align: middle;
    }
    .ml .ml-logo {
        background-image: url('../img/ml-logo.png?v=2.0');
        height: 223px;
        width: 249px;
    }
    .ml h2 {
        display: block;
    }
    .ml nav {
        padding-left: 74px;
    }
    .ml .ml-site-list {
        border: 0;
        border-radius: 4px;
    }
    .ml .ml-site-list li {
        margin-bottom: 2px;
    }
    .ml .ml-site-link {
        background-color: rgba(255,255,255,.5);
        border-bottom: 0;
        border-radius: 4px;
        display: inline-block;
        font-size: 14px;
        padding: 5px 18px 5px 55px;
    }
    .ml .ml-site-link:hover {
        background-color: rgba(255,255,255,.8);
    }
    .ml .ml-site-list li:last-child .ml-site-link {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .ml .ml-site-link:before {
        top: 3px;
    }
    .ml .ml-site-link:after {
        display: none;
    }

}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {

    .ml .ml-logo {
        background-image: url('../img/ml-logo-small@2x.png?v=2.0');
        background-size: auto 107px;
    }

    @media (min-width: 1024px) {

        .ml .ml-logo {
            background-image: url('../img/ml-logo@2x.png?v=2.0');
            background-size: 249px 223px;
        }

    }

}